.node {
    border-radius: 10px;
    padding: 0px;
}

.node-title {
    font-size: 14px;
    color: #FFFFFF;
}

.port {
    border-radius: 0px;
}

.grid {
    background-color: #2c2f33;
    border-color: #444;
    --grid-background-color: #282828;
}